<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather Analytics</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <style>
        .view {
          background: url("http://i.imgur.com/lJoDGqG.jpg")no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
        h3 {
          color: black;
        }
        h1 {
          color: black;
        }
        p {
          color: black;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Bike Share</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/conditions/new">Add New Condition</a></li>
            <li><a href="/conditions">Weather Index</a></li>
            <li class="dropdown">
              <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/stations">Station Index</a></li>
                <li><a href="/stations-dashboard">Station Analytics</a></li>
                <li><a href="/trips">Trip Index</a></li>
                <li><a href="/trips-dashboard">Trip Analytics</a></li>
								<li><a href="/conditions">Weather Index</a></li>
                <li><a href="/weather-dashboard">Weather Analytics</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <div class="view">
      <div class="full-bg-img flex-center">
      </div>

    <div class ="container">
      <div class="page-header">
        <h1><small></small></h1>
      </div>
      <div class="well well-sm">
        <h1 class="text-center">Weather Analytics</h1><br/>

        <h4 class="text-center">Breakout of (Avg/Highest/Lowest) # of Rides, Acc to Temp:</h4><br/>


        <h4 class="text-center">Breakout of (Avg/Highest/Lowest) number of rides, on days with precipitation (in 1/2 inch increments):</h4><br/>


        <h4 class="text-center">Breakout of (Avg/Highest/Lowest) number of rides on days, based on Wind Speed:</h4><br/>


        <h4 class="text-center">Breakout of (Avg/Highest/Lowest) number of rides on days, based on visibility:</h4><br/>


        <h4 class="text-center">Weather on the day with the highest rides:</h4><br/>


        <h4 class="text-center">Weather on the day with the lowest rides:</h4><br/>
      

      </div>
    </div>
  </body>
</html>
