  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'/>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' rel='stylesheet' type='text/css' />
  <link href='/main.css' rel='stylesheet' type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class='d-flex flex-row'>
  <% @stations.each do |station| %>
    <div class='p-2'>
      <h3><a><%= station.name %></a></h3>
        <h4>City: <%= station.city %></h4>
        <a href="/stations/<%= station.id  %>/edit">Edit</a>
        <form action="/stations/<%= station.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="delete"/>
        </form>
    </div>
  <% end %>
</div>


