<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a Station</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <style>
      html,
      body,
        .view {
          height: 100%;
      }

        .view {
          background: url("http://i.imgur.com/Q4flGc3.png?1")no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Bike Share</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/stations">Station Index</a></li>
            <li class="dropdown">
              <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/stations">Station Index</a></li>
                <li><a href="/stations-dashboard">Station Analytics</a></li>
                <li><a href="/trips">Trip Index</a></li>
                <li><a href="/trips-dashboard">Trip Analytics</a></li>
								<li><a href="/conditions">Condition Index</a></li>
                <li><a href="/conditions-dashboard">Condition Analytics</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <div class="view">
      <!--Intro content-->
      <div class="full-bg-img flex-center">
      </div>

    <div class ="container">
      <div class="page-header">
        <h1><small></small></h1>
      </div>
      <h1 style="color: black"> Add a New Station</h1>
        <form action="/stations" method="post">
          <div class="form-group">
            <label style="color: black" for="InputName">Station Name</label>
            <input type="text" class="form-control" name='name' placeholder="Station Name">
          </div>
          <div class="form-group">
            <label style="color: black" for="InputCity">Station City</label>
            <input type="text" class="form-control" name='installation_date' placeholder="Station City">
          </div>
          <div class="form-group">
            <label style="color: black" for="InputInstallation">Installation Date</label>
            <input type="date" class="form-control" name='installation_date' placeholder="Installation Date">
          </div>
          <div class="form-group">
            <label style="color: black" for="InputDocks">Dock Count</label>
            <input type="text" class="form-control" name='dock_count' placeholder="Dock Count">
          </div>
          <input class="btn btn-default" type='submit' value = "Create this Station"/>
        </form>
    </div>
  </body>
</html>
