<link href='/main.css' rel='stylesheet' type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<div id='top-head' class='top_bar'>
  <p id='app-name' style='font-family: Kaushan Script;'>
    Bike Share App
  </p>
</div>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/stations">Station Index</a>
  <a href="/stations-dashboard" class='dropdown dropbtn'>Station Analytics</a>
  <a href="/trips">Trip Index</a>
  <a href="/trips-dashboard">Trip Analytics</a>
</div>


<span class='menu-color' onmouseover="openNav()">&#9776; Menu</span>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "200px";
    document.getElementById("top-head").style.marginLeft = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    document.getElementById("top-head").style.marginLeft = "0";
  }
</script>
<!-- <script type="text/javascript" src='./app/views/script.js'/></script> -->

<div id='main'>
  <img src="/silhouette.jpg"/>
</div>
